$base: #83b834;
$border-color: #d9d9d9;
$light-text: #ababab;

header {
  background: $base;
  color: #fff;
  .left,
  .right {
    .header-button {
      padding-top: 13px !important;
      padding-bottom: 13px !important;
    }
  }
  .left > .header-button {
    border-left: 0.4px solid #fff;
    font-size: 11px;
  }
  .right > .header-button {
    border-right: 0.4px solid #fff;
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}
ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sub-header {
  color: $light-text;

  .search {
    border: 2px solid $border-color;
    flex: 1;
    margin: 0 23px;
    input {
      color: $light-text;
      outline: none;
      border: none;
      flex: 1;
      padding: 10px 15px;
    }
    .dropdown {
      font-size: 15px;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      padding: 10px 15px;
    }
  }

  .sub-header-right {
    a {
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}

nav {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  ul {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    i {
      font-size: 9px;
      color: #ababab;
    }
  }
  .browse {
    padding: 15px 12px;
    background: $base;
    color: #fff;
    font-size: 14px;
    width: 250px;
    position: relative;
    .sub-dropdown {
      position: absolute;
      bottom: -500px;
      z-index: 9999;
      color: black;
      left: 0;
      right: 0;
      height: 500px;
      background-color: white;
      .drop-item {
        position: relative;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 10px;
        cursor: pointer;
        transition: 0.5s;
        i:nth-child(2) {
          font-size: 10px;
          color: #ababab;
        }
        &:hover {
          background-color: $border-color;
          .sub-content {
            opacity: 1;
          }
        }
        .sub-content {
          transition: 0.5s ease-in-out all;
          position: absolute;
          right: -10px;
          top: 10px;
          transform: translateX(100%);
          background: red;
          width: 500px;
          opacity: 0;
          height: 300px;
        }
      }
    }
  }
  .additions {
    a {
      font-size: 14px;
      font-weight: 400;
      color: #000;
      padding: 0 12px;
    }
    a:nth-child(1) {
      color: $base;
      border-right: 1px solid $border-color;
    }
  }
}

.banner {
  background-color: #f8f8f8;
  height: 500px;
  .content {
    height: 500px;
  }
}

.carousel-item {
  height: 500px !important;
}
